.ProjectOverview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: 100vh;
  background-color: hsl(273, 37%, 11%);
  overflow: hidden;

  position: relative;
}
.search-filter-toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  z-index: 4;
  padding: 2vw;
  /* border: 1px solid red; */
}

.search-filter-wrapper {
  position: absolute;
  right: 0;
  margin-left: 2vw;
}
.input-wrapper {
  width: 70vw;
  /* height: 3vw; */
  position: relative;
  z-index: 4;

  margin: 0.5vw 0;
}

/* * {
  border: 1px solid red;
} */

.input-wrapper img {
  position: absolute;
  height: 100%;
  width: 4vw;
  right: 1vw;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);

  /* border: 1px solid red; */
}
.search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1vw;
  font-size: 3vw;

  /* margin-right: 5vw; */
}
.grid-container {
  margin-top: 0.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;

  padding: 0 5vw;

  width: 100%;
  height: 80vh;
  overflow-y: auto;

  z-index: 4;
}
.grid-container::-webkit-scrollbar {
  width: 0.5vw;
}

.grid-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.grid-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-container::-webkit-scrollbar-button {
  display: block;
  height: 100px;
  width: 100px;
  background: #f1f1f1;
}

/* * {
  border: 1px solid red;
} */

.toggle-views-wrapper {
  /* margin: 2vw 0; */
  /* display: flex; */
  z-index: 3;
}
.toggle-btn {
  padding: 0.3vw 3vw;
  border: none;

  cursor: pointer;
  font-weight: 800;
  font-size: 1.5vw;

  height: 50%;
}
.toggle-btn:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggle-btn:nth-child(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle-btn.active {
  background-color: rgb(243, 216, 0);
  color: #1c1125;
}

.project-item {
  width: 20vw;
  /* height: 20vw; */
  background-color: rgb(243, 216, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
  /* transition: 0.3s all; */
  z-index: 5;
}

.filter,
.search {
  width: 5vw;
  height: 5vw;
  margin-right: 2vw;
}

.search {
  right: 15vw;
}

.filter,
.search {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;

  filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(6deg)
    brightness(100%) contrast(109%);

  animation: 1s svganimate infinite;
}

.search {
  animation: none;
}

@keyframes svganimate {
  100% {
    filter: invert(0%) sepia(7%) saturate(7500%) hue-rotate(81deg)
      brightness(92%) contrast(106%);
  }
}
.mask-projectoverview {
  position: absolute;
  /* width: 100%; */
  /* height: calc(100vh - 100px); */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.556);
  /* bottom: 0; */
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.pattern-projectoverview {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/pattern2.png");

  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    /* grid-template-rows: repeat(5, 1fr); */
  }
  .project-item {
    width: 40vw;
    /* height: 40vw; */
  }

  .search-input {
    font-size: 4vw;
  }
}

@media (max-width: 575.98px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    grid-row-gap: 5vw;
  }

  .input-wrapper img {
    height: 100%;
    width: 4vw;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
  }
  .search-filter-toggle-wrapper {
    padding: 5vw;
  }
  .toggle-btn {
    font-size: 4vw;
  }
  .input-wrapper {
    height: 10vw;
  }
  .filter {
    width: 10vw;
    height: 10vw;
  }
  .search {
    width: 10vw;
    height: 10vw;
  }
  .search-input {
    font-size: 6vw;
  }
}
