.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  background-color: var(--dark);
  padding: 0.5rem 1rem;
  z-index: 10s;
}
.navbar img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.nav-items {
  list-style: none;

  display: flex;

  /* background-color: rgba(89, 0, 255, 0.236); */
}

.nav-items a {
  text-decoration: none;
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  /* font-size: 1.1rem; */
}

.li-item {
  /* background-color: red; */
  margin: 0 2em;
  position: relative;
}

.li-item:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0%;
  background-color: white;
  left: 0;
  bottom: -5px;
  transform-origin: left;
  transition: 0.3s all;
}

.li-item:hover::after {
  width: 100%;
}
