@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lilita+One&family=Montserrat:wght@700&family=Noto+Sans&display=swap");

@font-face {
  font-family: Cyborg;
  src: url("./assets/Cyborg-ZV7eq.ttf");
}
:root {
  --lightest: #bea1d4;
  --light: #9972b0;
  --medium: #bea1d4;
  --dark: #46285a;
  --creamy: #e3dcd5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;

  margin: 0;
  /* border: 2px solid red; */
  cursor: url("./assets/pointinghand.svg"), auto;
}

* {
  /* border: 1px solid red; */
}
