.container-tech {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1125;

  position: relative;
  overflow: hidden;

  
}
body {
  /* background-color: #1c1125; */
}

.box {
  /* background-color: #8928c9; */
  /* height: 30%; */
  /* width: 60vw; */
  margin: 0 auto;
  padding: 0.5rem;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(59, 52, 52);
  z-index: 2;

  transform: rotateX(45deg);
}

.container-tech .item {
  /* width: 5em; */
  height: 4em;

  background-color: #4d395c;
  margin: 0.2rem;
  color: rgb(205, 177, 177);
  grid-auto-flow: dense;

  display: flex;
  align-items: center;
  padding: 0.9rem;

  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  z-index: 4;
}
.container-tech .item img {
  filter: drop-shadow(10px);
  width: 1.9em;
}
.container-tech .item:nth-child(3) img {
  width: 1.5em;
}

.container-tech .item .item-text {
  margin-left: 0.3rem;
}

.container-tech .pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/pattern2.png");
  z-index: 1;
  opacity: 0.1;
  top: 0;
  left: 0;
}

.container-tech .mask {
  position: absolute;
  /* width: 100%; */
  /* height: calc(100vh - 100px); */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.556);
  /* bottom: 0; */
  left: 0;
  right: 0;
  top: 0;
}

.container-tech .mask2 {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.251);
  z-index: 3;
}

@media screen and (max-width: 888px) {
  .container-tech .box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container-tech .item:nth-child(11) {
    grid-column: span 3;
  }
}

@media screen and (max-width: 731px) {
  .container-tech .box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 597px) {
  .container-tech .box {
    grid-template-columns: 1fr 1fr;
  }
  .container-tech .item {
    width: 7rem;
  }
  .container-tech .item:nth-child(11) {
    grid-column: initial;
  }
}

@media screen and (max-width: 511px) {
  .container-tech .box {
    grid-template-columns: 1fr 1fr;
  }
  .container-tech .item {
    width: 5rem;
    font-size: 0.7rem;
  }
  .container-tech .item:nth-child(11) {
    grid-column: initial;
  }
}

@media screen and (max-width: 411px) {
  .container-tech .box {
    grid-template-columns: 1fr;
  }
  .container-tech .item {
    width: 5rem;
    font-size: 0.5rem;
  }
  .container-tech .item:nth-child(11) {
    grid-column: initial;
  }
}
